.vs/asdas2/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/asdas2/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/asdas2/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/asdas2/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/asdas2/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/asdas2/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/asdas2/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/asdas2/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/asdas2/FileContentIndex/500762ad-ff14-4a03-8d50-bc2722592db0.vsidx
.vs/asdas2/FileContentIndex/6c3e8b6b-eb94-4057-9567-102d51c373d1.vsidx
.vs/asdas2/FileContentIndex/8966ca59-7b4f-4d6f-b4ec-5d3a533e2524.vsidx
.vs/asdas2/FileContentIndex/958d27b2-3053-45b9-bdaf-da22e82e55e2.vsidx
.vs/asdas2/FileContentIndex/c3b72d95-57d3-4c17-ad14-1daa3af55889.vsidx
.vs/asdas2/v17/.suo
.vs/asdas2/v17/Browse.VC.db
.vs/asdas2/v17/Browse.VC.db-shm
.vs/asdas2/v17/Browse.VC.db-wal
.vs/asdas2/v17/Browse.VC.opendb
.vs/asdas2/v17/DocumentLayout.backup.json
.vs/asdas2/v17/DocumentLayout.json
.vs/asdas2/v17/ipch/AutoPCH/21055119822cb7ec/LOGIN.ipch
.vs/asdas2/v17/ipch/AutoPCH/4eb40ccdca726982/LOGIN.ipch
.vs/asdas2/v17/ipch/AutoPCH/566aace6aabbf4f7/LOGIN.ipch
.vs/asdas2/v17/ipch/AutoPCH/7b7a89eb55f8bc88/USER.ipch
.vs/asdas2/v17/ipch/AutoPCH/7f96ab466bf876c8/PACKET.ipch
.vs/asdas2/v17/ipch/AutoPCH/8dbefa9f32d25aac/FILENAME.ipch
.vs/asdas2/v17/ipch/AutoPCH/9ea27789136a40c2/FILENAME.ipch
.vs/asdas2/v17/ipch/AutoPCH/b39b61731ab59a33/ROOM.ipch
.vs/asdas2/v17/ipch/AutoPCH/c520f689ae786a4e/ROOM.ipch
.vs/asdas2/v17/ipch/AutoPCH/c84c09fedbf2154e/IOCP.ipch
.vs/asdas2/v17/Solution.VC.db
